USE [SMR_D2S]
GO
/****** Object:  Table [dbo].[AdAccount]    Script Date: 12/29/2025 10:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdAccount](
	[UserName] [varchar](50) NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[Password] [varchar](200) NULL,
	[Phone] [varchar](12) NULL,
	[Email] [varchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[OrgId] [varchar](50) NULL,
	[TitleCode] [varchar](50) NULL,
	[FaceId] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreateBy] [varchar](20) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [varchar](20) NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_T_AD_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdAccountAccountGroup]    Script Date: 12/29/2025 10:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdAccountAccountGroup](
	[Id] [varchar](50) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[GroupId] [varchar](50) NOT NULL,
	[IsActive] [bit] NULL,
	[CreateBy] [varchar](20) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [varchar](20) NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_T_AD_ACCOUNT_ACCOUNT_GROUP] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdAccountGroup]    Script Date: 12/29/2025 10:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdAccountGroup](
	[Id] [varchar](38) NOT NULL,
	[OrgId] [varchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Notes] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
	[CreateBy] [varchar](20) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [varchar](20) NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_T_AD_ACCOUNT_GROUP] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdAccountGroupRight]    Script Date: 12/29/2025 10:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdAccountGroupRight](
	[Id] [varchar](50) NOT NULL,
	[GroupId] [varchar](50) NOT NULL,
	[RightId] [varchar](50) NOT NULL,
	[IsActive] [bit] NULL,
	[CreateBy] [varchar](20) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [varchar](20) NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_T_AD_ACCOUNT_GROUP_RIGHT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdAccountRight]    Script Date: 12/29/2025 10:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdAccountRight](
	[Id] [varchar](50) NOT NULL,
	[UserName] [varchar](20) NOT NULL,
	[RightId] [varchar](50) NOT NULL,
	[IsAdded] [bit] NULL,
	[IsRemoved] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreateBy] [varchar](20) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [varchar](20) NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_AdAccountRight] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdHistoryLogin]    Script Date: 12/29/2025 10:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdHistoryLogin](
	[Id] [varchar](50) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[LogonTime] [datetime] NULL,
	[Browser] [nvarchar](500) NULL,
	[Version] [nvarchar](50) NULL,
	[IsMobile] [bit] NULL,
	[Os] [nvarchar](50) NULL,
	[MobileModel] [nvarchar](50) NULL,
	[Manufacturer] [nvarchar](50) NULL,
	[IpAddress] [nvarchar](50) NULL,
	[Status] [bit] NULL,
	[Reason] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreateBy] [varchar](20) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [varchar](20) NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_AdHistoryLogin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdMenu]    Script Date: 12/29/2025 10:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdMenu](
	[Id] [varchar](50) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[PId] [varchar](50) NULL,
	[OrderNumber] [int] NOT NULL,
	[Url] [varchar](255) NULL,
	[Icon] [varchar](255) NULL,
	[Expanded] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreateBy] [varchar](20) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [varchar](20) NULL,
	[UpdateDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdMenuRight]    Script Date: 12/29/2025 10:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdMenuRight](
	[Id] [varchar](50) NOT NULL,
	[MenuId] [varchar](50) NOT NULL,
	[RightId] [varchar](50) NOT NULL,
	[IsActive] [bit] NULL,
	[CreateBy] [varchar](20) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [varchar](20) NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_T_AD_MENU_RIGHT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdMessage]    Script Date: 12/29/2025 10:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdMessage](
	[Code] [varchar](5) NOT NULL,
	[Lang] [varchar](5) NULL,
	[Message] [nvarchar](100) NULL,
	[Type] [varchar](1) NULL,
	[IsActive] [bit] NULL,
	[CreateBy] [varchar](20) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [varchar](20) NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_T_AD_MESSAGE] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdRight]    Script Date: 12/29/2025 10:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdRight](
	[Id] [varchar](50) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[PId] [varchar](50) NULL,
	[OrderNumber] [int] NULL,
	[Expanded] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreateBy] [varchar](20) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [varchar](20) NULL,
	[UpdateDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CmFile]    Script Date: 12/29/2025 10:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CmFile](
	[Id] [varchar](50) NULL,
	[FileName] [nvarchar](500) NULL,
	[FileSize] [decimal](18, 0) NULL,
	[MimeType] [varchar](200) NULL,
	[Extention] [varchar](50) NULL,
	[Icon] [varchar](50) NULL,
	[RefrenceFileId] [varchar](50) NULL,
	[Type] [int] NULL,
	[OrderNumber] [int] NULL,
	[VoiceToText] [nvarchar](max) NULL,
	[IsBienBan] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MdOrganize]    Script Date: 12/29/2025 10:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MdOrganize](
	[Id] [varchar](50) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[PId] [varchar](50) NULL,
	[OrderNumber] [int] NULL,
	[Expanded] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreateBy] [varchar](20) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [varchar](20) NULL,
	[UpdateDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MdRoom]    Script Date: 12/29/2025 10:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MdRoom](
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Width] [nvarchar](50) NULL,
	[Height] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[TableType] [nvarchar](50) NULL,
	[ChairCount] [int] NULL,
	[WsStreamUrl] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreateBy] [nvarchar](100) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](100) NULL,
	[UpdateDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MdRoomItem]    Script Date: 12/29/2025 10:30:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MdRoomItem](
	[Id] [nvarchar](50) NOT NULL,
	[RoomId] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Style] [nvarchar](100) NULL,
	[X] [nvarchar](50) NOT NULL,
	[Y] [nvarchar](50) NOT NULL,
	[Width] [nvarchar](50) NULL,
	[Height] [nvarchar](50) NULL,
	[Rotation] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreateBy] [nvarchar](100) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](100) NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_RoomItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MdTitle]    Script Date: 12/29/2025 10:30:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MdTitle](
	[Code] [varchar](255) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[OrderNumber] [int] NULL,
	[Notes] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[CreateBy] [varchar](20) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [varchar](20) NULL,
	[UpdateDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeetingInfo]    Script Date: 12/29/2025 10:30:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeetingInfo](
	[Id] [varchar](50) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[RoomId] [varchar](50) NULL,
	[ExpectedStartTime] [datetime] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[MeetContent] [nvarchar](500) NULL,
	[Status] [int] NULL,
	[Notes] [nvarchar](500) NULL,
	[RefrenceFileId] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreateBy] [varchar](20) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [varchar](20) NULL,
	[UpdateDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeetingMessage]    Script Date: 12/29/2025 10:30:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeetingMessage](
	[Id] [varchar](50) NULL,
	[MeetingId] [varchar](50) NULL,
	[SenderUserId] [varchar](50) NULL,
	[ReceiverUserId] [varchar](50) NULL,
	[MessageText] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreateBy] [nvarchar](100) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](100) NULL,
	[UpdateDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeetingPersonal]    Script Date: 12/29/2025 10:30:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeetingPersonal](
	[Id] [varchar](50) NOT NULL,
	[MeetingId] [varchar](50) NULL,
	[UserName] [varchar](50) NULL,
	[FullName] [nvarchar](200) NULL,
	[Password] [varchar](200) NULL,
	[Phone] [varchar](12) NULL,
	[Email] [varchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[OrgId] [varchar](50) NULL,
	[TitleCode] [varchar](50) NULL,
	[FaceId] [varchar](50) NULL,
	[RefrenceFileId] [varchar](50) NULL,
	[Type] [int] NULL,
	[IsChuTri] [bit] NULL,
	[IsThuKy] [bit] NULL,
	[IsParticipateInVoting] [bit] NULL,
	[IsJoined] [bit] NULL,
	[JoinTime] [datetime] NULL,
	[IsActive] [bit] NULL,
	[CreateBy] [varchar](20) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [varchar](20) NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_MeetingPersonal] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeetingRoomLayout]    Script Date: 12/29/2025 10:30:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeetingRoomLayout](
	[Id] [nvarchar](50) NOT NULL,
	[MeetingId] [varchar](50) NOT NULL,
	[RoomItemId] [nvarchar](50) NOT NULL,
	[UserId] [varchar](50) NOT NULL,
	[IsActive] [bit] NULL,
	[CreateBy] [nvarchar](100) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](100) NULL,
	[UpdateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeetingVote]    Script Date: 12/29/2025 10:30:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeetingVote](
	[Id] [varchar](50) NOT NULL,
	[MeetingId] [varchar](50) NULL,
	[Name] [nvarchar](500) NULL,
	[Notes] [nvarchar](500) NULL,
	[RefrenceFileId] [varchar](50) NULL,
	[Time] [int] NULL,
	[Status] [int] NULL,
	[IsActive] [bit] NULL,
	[CreateBy] [nvarchar](100) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](100) NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_MeetingVot] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeetingVoteResults]    Script Date: 12/29/2025 10:30:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeetingVoteResults](
	[Id] [varchar](50) NULL,
	[VoteId] [varchar](50) NULL,
	[Username] [varchar](50) NULL,
	[Answer] [int] NULL,
	[IsActive] [bit] NULL,
	[CreateBy] [nvarchar](100) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](100) NULL,
	[UpdateDate] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MdRoom] ADD  CONSTRAINT [DF__Room__IsActive__619B8048]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MdRoom] ADD  CONSTRAINT [DF__Room__CreateDate__628FA481]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[MdRoomItem] ADD  CONSTRAINT [DF__RoomItems__IsAct__6477ECF3]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MdRoomItem] ADD  CONSTRAINT [DF__RoomItems__Creat__656C112C]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[MeetingMessage] ADD  CONSTRAINT [DF_MeetingMessage_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MeetingMessage] ADD  CONSTRAINT [DF_MeetingMessage_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[MeetingRoomLayout] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MeetingRoomLayout] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[MeetingVote] ADD  CONSTRAINT [DF_MeetingVot_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MeetingVote] ADD  CONSTRAINT [DF_MeetingVot_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[MeetingVoteResults] ADD  CONSTRAINT [DF_MeetingVoteResults_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MeetingVoteResults] ADD  CONSTRAINT [DF_MeetingVoteResults_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã GUID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AdRight', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên quyền' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AdRight', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã cha' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AdRight', @level2type=N'COLUMN',@level2name=N'PId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số thứ tự' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AdRight', @level2type=N'COLUMN',@level2name=N'OrderNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã GUID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MdOrganize', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên quyền' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MdOrganize', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã cha' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MdOrganize', @level2type=N'COLUMN',@level2name=N'PId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số thứ tự' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MdOrganize', @level2type=N'COLUMN',@level2name=N'OrderNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã GUID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MdTitle', @level2type=N'COLUMN',@level2name=N'Code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên quyền' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MdTitle', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã GUID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MeetingInfo', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên quyền' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MeetingInfo', @level2type=N'COLUMN',@level2name=N'Name'
GO
