.bg-color-custom{
    background-color: rgb(239 246 255) !important;
}

.justify-content-center{
    justify-content: center !important;
}

.icon-camera-custom{
    font-size: 50px !important;
    color: #454a93 !important;
}

.border-cancel-custom{
    border: 1px solid var(--bs-grey-light) !important;
}

.btn-cancel{
    border: 1px solid var(--bs-grey-light) !important;
}