<nz-page-header nzBackIcon>
    <nz-page-header-title>CHỨC DANH</nz-page-header-title>
    <nz-page-header-subtitle>Danh sách chức danh</nz-page-header-subtitle>
    <nz-page-header-extra>
        <nz-space>
            <input *nzSpaceItem nz-input placeholder="Tìm kiếm nhanh" [(ngModel)]="filter.keyWord" (keydown.enter)="search()"/>

            <button *nzSpaceItem nz-button (click)="reset()">
                <nz-icon nzType="sync" nzTheme="outline" />
            </button>

            <button *nzSpaceItem nz-button (click)="search()">
                <nz-icon nzType="search" nzTheme="outline" />
            </button>

            <button *nzSpaceItem nz-button nzType="primary" (click)="open('', false)">
                <nz-icon nzType="plus" nzTheme="outline" />Thêm mới
            </button>
        </nz-space>
    </nz-page-header-extra>
    <nz-page-header-content>
        <nz-table #list nzBordered [nzData]="data.data" nzSize="small" [nzFrontPagination]="false"
            [nzScroll]="{ y: 'calc(100vh - 226px)' }">
            <thead>
                <tr>
                    <th nzAlign="center" nzWidth="60px">STT</th>
                    <th nzWidth="320px">Mã</th>
                    <th>Tên</th>
                    <th>Thứ tự</th>
                    <th>Ghi chú</th>
                    <th nzAlign="center" nzWidth="160px">Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list.data; let i = index; trackBy: trackById">
                    <td nzAlign="center">{{(data.currentPage - 1) * data.pageSize + i + 1}}</td>
                    <td><a (click)="open(item, true)">{{ item.code }}</a></td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.orderNumber }}</td>
                    <td>{{ item.notes }}</td>
                    <td nzAlign="center">
                        <nz-tag [nzColor]="item.isActive ? 'success' : 'error'">
                            <nz-icon [nzType]="item.isActive ? 'check-circle' : 'close-circle'" />
                            <span>{{item.isActive ? 'Kích hoạt' : 'Khoá'}}</span>
                        </nz-tag>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </nz-page-header-content>
</nz-page-header>
<div class="paging-container">
    <div>Tổng {{data.totalRecord}} bản ghi</div>
    <nz-pagination [nzPageIndex]="data.currentPage" [nzTotal]="data.totalRecord" nzShowSizeChanger
        [nzPageSize]="data.pageSize" nzShowQuickJumper (nzPageIndexChange)="pageIndexChange($event)"
        (nzPageSizeChange)="pageSizeChange($event)">
    </nz-pagination>
</div>

<nz-drawer [nzWidth]="460" [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" [nzMask]="!isEdit"
    [nzExtra]="extra" [nzTitle]="isEdit ? 'CHỈNH SỬA' : 'TẠO MỚI'" (nzOnClose)="close()">
    <ng-container *nzDrawerContent>
        <label>Mã </label>
        <input nz-input [(ngModel)]="dto.code" [disabled]="isEdit" class="space-control" />

        <label>Tên</label>
        <input nz-input [(ngModel)]="dto.name" class="space-control" />

        <label>Thứ tự</label>
        <input nz-input [(ngModel)]="dto.orderNumber" class="space-control" />

        <label>Ghi chú</label>
        <input nz-input [(ngModel)]="dto.notes" class="space-control" />


        <nz-radio-group [(ngModel)]="dto.isActive">
            <label nz-radio [nzValue]="true">Kích hoạt</label>
            <label nz-radio [nzValue]="false">Khoá</label>
        </nz-radio-group>
    </ng-container>

    <ng-template #extra>
        <nz-space>
            <button *nzSpaceItem nz-button nzType="primary" (click)="save()" class="btn-green">
                <nz-icon nzType="save" nzTheme="outline" /> {{isEdit ? 'Cập nhật' : 'Lưu'}}
            </button>
            <button *nzSpaceItem nz-button nzType="primary" nzDanger (click)="close()">
                <nz-icon nzType="close" nzTheme="outline" />
            </button>
        </nz-space>
    </ng-template>
</nz-drawer>